services:
  app:
    build: .
    container_name: mini-chat
    environment:
      MONGO_URL: mongodb://mongo:27017
      MONGO_DB_NAME: chatapp
      MONGO_COLLECTION_NAME: messages
      POSTGRES_URL: postgresql+psycopg://postgres:postgres@postgres:5432/chatapp
    depends_on:
      mongo:
        condition: service_healthy
      postgres:
        condition: service_healthy
    expose:
      - "8000"

  nginx:
    image: nginx:1.27
    depends_on:
      app:
        condition: service_started
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro

  mongo:
    image: mongo:7.0
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 10s
      timeout: 5s
      retries: 5

  postgres:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: chatapp
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mongo_data:
  postgres_data:
