version: "3.9"

services:
  app:
    build: .
    container_name: mini-chat
    ports:
      - "8000:8000"
    environment:
      MONGO_URL: mongodb://mongo:27017
      MONGO_DB_NAME: chatapp
      MONGO_COLLECTION_NAME: messages
      POSTGRES_URL: postgresql+psycopg://postgres:postgres@postgres:5432/chatapp
    depends_on:
      mongo:
        condition: service_healthy
      postgres:
        condition: service_healthy

  mongo:
    image: mongo:7.0
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 10s
      timeout: 5s
      retries: 5

  postgres:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: chatapp
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mongo_data:
  postgres_data:
